.env

/__pycache__
/databases/__pycache__
/filters/__pycache__
/handlers/__pycache__
/handlers/channels/__pycache__
/handlers/errors/__pycache__
/handlers/groups/__pycache__
/handlers/inline/__pycache__
/handlers/users/__pycache__
/middlewares/__pycache__
/utils/__pycache__